/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_1 : rgba($palette-primary_1, 0.60);
$rgba_4 : rgba($palette-primary_4, 0.40);
$rgba_neutral : rgba($palette-primary-neutral-color, 0.6);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary-neutral-color;
/*-----------------------------------------------
## 1
-----------------------------------------------*/
	.site-header {
		background: $rgba_1;
		color: $text-contrast-palette-primary_1;
	}
	.panel-footer,
	header.smaller {
		background:	$palette-primary_1;
	}
	.site-title a,
	.menu-item a,
	.navbar-default .navbar-nav > li > a {
		color: $text-contrast-palette-primary_1;
	}
	.secondary-menu,
	.tertiary-menu {
		.current-menu-item a {
			color: $palette-primary_2;
		}
	}
	.site-header .well {
		background: $rgba_4;
		border-color: $text-contrast-palette-primary_1;
	}
	.dropdown .active,
	ul.dropdown-menu,
	.panel-default > .panel-heading,
	.navbar-default .navbar-nav > li.dropdown:hover > a {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}


	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.entry-title {
		a {
			color: $text-contrast-palette-primary-neutral-color;
			text-decoration: none;
			border-bottom: 1px solid $palette-primary_2;
			&:hover, &:focus {
				color: $text-contrast-palette-primary-neutral-color;
				text-decoration: none;
			}
		}
	}
	.link-primary,
	.link-secondary,
	.button-primary,
	.form-submit .submit,
	input[type="submit"],
	.button-secondary:hover,
	.button-secondary:focus {
		border: 1px solid $palette-primary_2;
		color: $palette-primary_2;
	}
	.button-secondary {
		border: 1px solid $palette-primary_2;
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	hr,
	.button-primary:hover,
	.button-primary:focus,
	#colophon .nav>li>a:hover,
	#colophon .nav>li>a:focus,
	.dropdown-menu>li>a:hover,
	.dropdown-menu>li>a:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	.open > .dropdown-toggle.btn-primary,
	.nav>li>a:focus,
	.nav>li>a:hover {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.form-submit .submit:hover,
	.form-submit .submit:focus {
		background: $palette-primary_2;
		border-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.panel-footer a,
	.current_page_item a {
		color: $text-contrast-palette-primary_2;
	}
	a,
	i.fa,
	.site-footer a,
	#colophon li.menu-item > a {
		color: $palette-primary_2;
	}
	.navbar-default .navbar-nav {
		> {
			.current-menu-parent > a {
				color: $palette-primary_2;
			}
			.active > a {
				color: $palette-primary_2;
				background: none;
				&:hover, &:focus {
					color: $palette-primary_2;
					background: none;
				}
			}
			li > a {
				&:hover, &:focus {
					color: $palette-primary_2;
					background: none;
				}
			}
		}
		.dropdown .dropdown-menu > {
			.active > a {
				background: $palette-primary_2;
				color: $text-contrast-palette-primary_2;
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
			li > a {
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
		}
	}
	#header-widget-area .button-primary:hover,
	#header-widget-area .button-primary:focus {
		background: none;
		border: 1px solid $palette-primary_2;
		color: $text-contrast-palette-primary_4;
	}
	#header-widget-area .button-primary {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.mod-beta-1 p {
		border: 2px solid $palette-primary_2;
	}
	.mod-beta-1 p::before {
		border-color: $palette-primary_2 transparent;
	}
	.mod-gamma-2 {
		background: $palette-primary_2;
		h2 {
			color: $text-contrast-palette-primary_2;
		}
	}

	/* md */
	@media (min-width: 992px) {
		.mod-beta-1 p::before {
			border-color: transparent $palette-primary_2;
		}
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	h1,
	h2,
	h3,
	h4,
	i.fa:hover,
	.widget-title,
	.entry-title,
	.page-title,
	#reply-title,
	.mod-beta-2 h5,
	.comments-title,
	.mod-alpha h5,
	.mod-alpha i.fa,
	#secondary table th,
	.comment-reply-title {
		color: $palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.imhwpb-bg-2 {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	.page-bg,
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler {
		background: $rgba_neutral;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.imhwpb-bg-1,
	.site-footer,
	.mod-beta-1 p,
	#colophon .well, {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	p,
	a:hover,
	a:focus,
	.entry-meta,
	.mod-gamma-2,
	.imhwpb-bg-1 p,
	.mod-blockquote p,
	.site-footer p,
	.entry-title,
	.site-description,
	.entry-content ul,
	.entry-content ol,
	.entry-content ul li,
	.entry-content ol li,
	#menu-social li a:hover,
	#menu-social li a:hover i,
	.site-footer .attribution,
	.widget-area caption,
	.widget-area .nav > li > a,
	#colophon li.current_page_item a,
	#secondary .table > tbody > tr td,
	.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
		color: $text-contrast-palette-primary-neutral-color;
	}
	.mod-blockquote {
		border-left: 3px solid $text-contrast-palette-primary-neutral-color;
	}
	#colophon .well {
		border-color: $text-contrast-palette-primary-neutral-color;
	}
	.mod-beta-1 p:after {
		border-color: $palette-primary-neutral-color transparent;
	}
	.widget-area,
	.shop_table td,
	.shop_table tbody th,
	.shop_table tfoot td,
	.shop_table tfoot th,
	.shop_table thead tr th,
	.woocommerce table.shop_table {
	    border: 1px solid $palette-primary-neutral-color;
	}

	/* md */
	@media (min-width: 992px) {
		.mod-beta-1 p:after {
			border-color: transparent $palette-primary-neutral-color;
		}
	}

	/*-----------------------------------------------
	## Dark Text
	-----------------------------------------------*/
	input,
	button,
	textarea,
	select,
	#payment label,
	.showcoupon,
	.showcoupon:hover,
	.showcoupon:focus,
	.comment-content a,
	.comment-content p,
	.widget-area .nav > li > a:hover,
	.widget-area .nav > li > a:focus,
	.woocommerce-message a,
	.woocommerce-message a:hover,
	.woocommerce-message a:focus,
	#footer-widget-area ul li,
	#header-widget-area ul li,
	#footer-widget-area .widget-title,
	.comment-form-comment textarea,
	.payment_method_paypal label a,
	.payment_method_paypal label a:hover,
	.payment_method_paypal label a:focus,
	#secondary .table-striped > tbody > tr #today a,
	#secondary .table-striped > tbody > tr:nth-child(2n+1) td,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		color: #333;
	}

	/*-----------------------------------------------
	## Et Cetera
	-----------------------------------------------*/
	/* Dropdown Child */
	.navbar-default .navbar-nav > li.dropdown:hover > a {
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
	.page-bg {
		background: rgba(0, 0, 0, .60);
	}
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button,
	.woocommerce p.buttons a.button,
	.woocommerce #respond input#submit {
	    background-color: #a46497;
	    color: #fff;
	}
	.woocommerce p.buttons a.button:hover {
		background-color: #dad8da;
	    color: #515151;
	}


	/*-----------------------------------------------
	## 2 - Gamma Module
	-----------------------------------------------*/
	.mod-gamma-2 h6,
	.mod-gamma-2 p {
		color: $text-contrast-palette-primary_2;
	}
	/** Site Title **/
	.slogan {
		color: #fff;
	}
	&.search,
	&.single,
	&.archive,
	&.blog {
		.site-content {
			background: $rgba_neutral;
			color: $text-contrast-palette-primary-neutral-color;
		}
	}
	&.error404 {
		.site-content {
			background: $rgba_neutral;
			color: $text-contrast-palette-primary-neutral-color;
		}
		.list-group-item {
			border: 1px $palette-primary_2 solid;
			background: $rgba_neutral;
		}
	}
}

.palette-primary.mce-content-body {
	background: $palette-primary-neutral-color;
	color: $text-contrast-palette-primary-neutral-color;
}

/** edit link only on home page **/
body.palette-primary.page-template-page_home .entry-footer {
	background: $palette-primary-neutral-color;
}
body.palette-primary.page-template-default .hentry {
	background: $rgba_neutral;
}
/** disabled footer transparent on inside pages **/
body.palette-primary.page-template-default.disabled-footer .site-footer {
	background: $rgba_neutral;
}
